/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 0;
}

.navbar {
	height: 25px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0px;
  height: 25px;
  background-color: #000000;
}

footer p {
  color: #FFFFFF;
  margin-bottom:  0;
}

.table-wrapper{
	max-height: 350px; 
	width: 100%; 
	margin: 0; 
	overflow-y: auto;
}

.table-scrollable{
	margin: 0; 
	padding: 0;
}

.body-separator{
	height: 2px;
	color: rgba(0, 100, 200, 0.5);
	background-color:  rgba(0, 100, 200, 0.5);
}

.btn-primary{
	border: 1px solid black;
	border-radius:  3px;
}

.body-container{
	padding-left: .5em;
	padding-right: .5em;
}

.jumbotron{
	padding-top: .5em;
	margin-top: -.5em;
	padding-bottom: .5em;
	min-height: 100%;
}

.table-date-sep{
	border-bottom:2px solid black;
	border-color: rgba(0, 100, 200, 0.5);
}